body{
  background-color: yellow;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin:0;
  }
  header{
    background-color: rgba(227, 255, 11, 0.555);
  }
  
  .banner{
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
  }
  
  .container{
    max-width: 960px;
    margin: 0 auto;
  }
  #logo{
    float:left;
      width:100px;
       height:100px;
  }
  .forma{
    background-color: rgba(151, 231, 3, 0);
      margin: 0 auto;
        padding:10px;
  }
  footer{
    width:100%;
    background-color: rgba(99, 158, 4, 0.568);
    padding: 10px;
    height:80px;
    position: fixed;
    bottom: 0px;
  
  }
  
